<h1>Posts</h1>
<div *ngFor="let post of posts">
  <h3>{{ post.title }}</h3>
  <p>{{ post.body }}</p>
  <hr />
</div>

<div>
  <h2>User</h2>
  <form #userform="ngForm" (ngSubmit)="submitForm(userform)">
    <div>
      <label for="name">Name: </label>
      <input 
        type="text"
        id="name"
        name="name"
        [(ngModel)]="user.name"
        required
      />
    </div>

    <div>
      <label for="email">Email: </label>
      <input 
        type="email"
        id="email"
        name="email"
        [(ngModel)]="user.email"
        required
      />
    </div>

    <div>
      <button type="submit">Submit</button>
    </div>
  </form>
</div>